/*phones*/
@media screen and (max-width: 500px){
    .background {
        background-color: lightsteelblue;
        height: auto;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: absolute;
    }
    .labelSort {
        color: white !important;
        font-size: medium !important;
    }
    .radioButton {
        display: flex;
        margin-top: 10px;
    }
    .sortBySection {
        font-size: medium !important;
        /*flex: 1 0 auto;*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ui.basic.black.button, .ui.basic.black.buttons .button {
        margin-left: 40px;
    }
    .transparentDiv {
        margin-right: 20px;
        margin-left: 20px;
    }
    .mySegment {
        background: rgba(6, 6, 7, 0.58);
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .myTransparentDiv {
        background: rgba(6, 6, 7, 0.58);
        display: inline-block;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 30px;
    }
    
    
    
    h1, h2, h3, h4, h5 {
        line-height: 1 !important;
    }
}
/*tablets*/
@media screen and (min-width: 501px){
    .background {
        background-image: url("../pictures/11.jpg");
        /*background-color: #BC8F8F;*/
        height: auto;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: absolute;
    }
    
    .ui.basic.black.button, .ui.basic.black.buttons .button {
        margin-left: 40px;
    }
    .transparentDiv {
        margin-right: 20px;
        margin-left: 20px;
    }
    .mySegment {
        background: rgba(6, 6, 7, 0.58);
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .myTransparentDiv {
        background: rgba(6, 6, 7, 0.58);
        display: inline-block;
        border-radius: 5px;
        padding-top: 20px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 30px;
    }
    
    
    h1, h2, h3, h4, h5 {
        line-height: 1 !important;
    }
    .labelSort {
        color: white !important;
        font-size: medium !important;
    }
    .radioButton {
        display: flex;
        margin-top: 10px;
        text-align: center;
    }
    .sortBySection {
        font-size: medium !important;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*desktops*/
@media screen and (min-width: 850px){
    .background {
        background-image: url("../pictures/11.jpg");
        /*background-color: #BC8F8F;*/
        /*background-color: seashell;*/
        height: auto;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: absolute; 
    }
    .radioButton {
        display: flex;
        margin-top: 10px;
    }
    .sortBySection {
        font-size: medium !important;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ui.segment {
        margin-right: 45px;
        margin-left: 45px;
    }
    
    .ui.basic.black.button, .ui.basic.black.buttons .button {
        margin-left: 160px;
    }
    .ui.inverted.segment {
        display: table-cell;
        width: 2000px;
    }
    .mySegment {
        /*background: rgba(6, 6, 7, 0.58);*/
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .myTransparentDiv {
        /*background: rgba(6, 6, 7, 0.58);*/
        /*background-color: #ebe3e0;*/
        display: inline-block;
        border-radius: 5px;
        padding-top: 20px;
        margin-left: 60px;
        margin-right: 60px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }
    /*.ui.segment:last-child {
        margin-bottom: 15px;
        background-color: #ebe3e0;
    }*/
    
    
    h1, h2, h3, h4, h5 {
        line-height: 1 !important;
    }
    .labelSort {
        color: white !important;
        display: inline-block !important;
        vertical-align: top;
    }
}


/*for everything */
/*LoadMore.js, Everything.js, Home.js */
.header-top {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
}
.goBack {
    color: #bdbdbd;
}
.TopHeadlinesCard {
    padding: 20px;
}
.moja{
    height: 1000px; 
    display: flex;
}
.nothing{
    margin-bottom: 0px;
}
.mojaSearch{
    display: none;
}
.ui.segment:last-child {
    margin-bottom: 15px;
}
.ui.form .inline.fields {
    display: -webkit-inline-box;
}


h1, h2, h3, h4, h5 {
    line-height: 1 !important;
}
